<!-- Allow to edit interests here! -->

<center><h1>Interests</h1></center>
<h4>Check off all your interests and then click submit</h4>

<form action="">
    <!--Seasons-->
    <div class="panel panel-default">
      <div class="panel-heading">Seasons</div>
      <ul class="list-group">
        <li class="list-group-item"> <input type="checkbox" name="season" value="fall"> Fall</li>
        <li class="list-group-item"> <input type="checkbox" name="season" value="spring"> Spring</li>
        <li class="list-group-item"> <input type="checkbox" name="season" value="summer"> Summer</li>
        <li class="list-group-item"> <input type="checkbox" name="season" value="winter"> Winter</li>
      </ul>
    </div>
    
    <!--Zodiac Signs-->
    <div class="panel panel-default">
      <div class="panel-heading">Zodiac Sign</div>
      <ul class="list-group">
        <li class="list-group-item"> <input type="checkbox" name="zodiac" value="aries"> Aries</li>
        <li class="list-group-item"> <input type="checkbox" name="zodiac" value="aquarius"> Aquarius</li>
        <li class="list-group-item"> <input type="checkbox" name="zodiac" value="cancer"> Cancer</li>
        <li class="list-group-item"> <input type="checkbox" name="zodiac" value="capricorn"> Capricorn</li>
        <li class="list-group-item"> <input type="checkbox" name="zodiac" value="gemini"> Gemini</li>
        <li class="list-group-item"> <input type="checkbox" name="zodiac" value="leo"> Leo</li>
        <li class="list-group-item"> <input type="checkbox" name="zodiac" value="libra"> Libra</li>
        <li class="list-group-item"> <input type="checkbox" name="zodiac" value="pisces"> Pisces</li>
        <li class="list-group-item"> <input type="checkbox" name="zodiac" value="sagittarius"> Sagittarius</li>
        <li class="list-group-item"> <input type="checkbox" name="zodiac" value="scorpio"> Scorpio</li>
        <li class="list-group-item"> <input type="checkbox" name="zodiac" value="taurus"> Taurus</li>
        <li class="list-group-item"> <input type="checkbox" name="zodiac" value="virgo"> Virgo</li>
      </ul>
    </div>
    
    <!--Sports-->
    <div class="panel panel-default">
      <div class="panel-heading">Sports</div>
      <ul class="list-group">
        <li class="list-group-item"> <input type="checkbox" name="sport" value="baseball"> Baseball</li>
        <li class="list-group-item"> <input type="checkbox" name="sport" value="basketball"> Basketball</li>
        <li class="list-group-item"> <input type="checkbox" name="sport" value="cricket"> Cricket</li>
        <li class="list-group-item"> <input type="checkbox" name="sport" value="football"> Football</li>
        <li class="list-group-item"> <input type="checkbox" name="sport" value="golf"> Golf</li>
        <li class="list-group-item"> <input type="checkbox" name="sport" value="hockey"> Hockey</li>
        <li class="list-group-item"> <input type="checkbox" name="sport" value="rugby"> Rugby</li>
        <li class="list-group-item"> <input type="checkbox" name="sport" value="soccer"> Soccer</li>
        <li class="list-group-item"> <input type="checkbox" name="sport" value="tennis"> Tennis</li>
        <li class="list-group-item"> <input type="checkbox" name="sport" value="wrestling"> Wrestling</li>
      </ul>
    </div>

    <!--Movies/Shows-->
    <div class="panel panel-default">
      <div class="panel-heading">Movies/Shows</div>
      <ul class="list-group">
        <li class="list-group-item"> <input type="checkbox" name="movie" value="action"> Action/Adventure</li>
        <li class="list-group-item"> <input type="checkbox" name="movie" value="animation"> Animation</li>
        <li class="list-group-item"> <input type="checkbox" name="movie" value="comedy"> Comedy</li>
        <li class="list-group-item"> <input type="checkbox" name="movie" value="crime"> Crime</li>
        <li class="list-group-item"> <input type="checkbox" name="movie" value="documentary"> Documentary</li>
        <li class="list-group-item"> <input type="checkbox" name="movie" value="drama"> Drama</li>
        <li class="list-group-item"> <input type="checkbox" name="movie" value="family"> Family</li>
        <li class="list-group-item"> <input type="checkbox" name="movie" value="horror"> Horror</li>
        <li class="list-group-item"> <input type="checkbox" name="movie" value="international"> International</li>
        <li class="list-group-item"> <input type="checkbox" name="movie" value="musical"> Musical</li>
        <li class="list-group-item"> <input type="checkbox" name="movie" value="romance"> Romance</li>
        <li class="list-group-item"> <input type="checkbox" name="movie" value="sci-fi"> Science Fiction</li>
        <li class="list-group-item"> <input type="checkbox" name="movie" value="sport"> Sport</li>
        <li class="list-group-item"> <input type="checkbox" name="movie" value="western"> Western</li>
      </ul>
    </div>
    
    <!--Movies/Shows-->
    <div class="panel panel-default">
      <div class="panel-heading">Music</div>
      <ul class="list-group">
        <li class="list-group-item"> <input type="checkbox" name="music" value="alternative"> Alternative</li>
        <li class="list-group-item"> <input type="checkbox" name="music" value="blues"> Blues</li>
        <li class="list-group-item"> <input type="checkbox" name="music" value="classical"> Classical</li>
        <li class="list-group-item"> <input type="checkbox" name="music" value="country"> Country</li>
        <li class="list-group-item"> <input type="checkbox" name="music" value="hip-hop"> Hip Hop/Rap</li>
        <li class="list-group-item"> <input type="checkbox" name="music" value="jazz"> Jazz</li>
        <li class="list-group-item"> <input type="checkbox" name="music" value="pop"> Pop</li>
        <li class="list-group-item"> <input type="checkbox" name="music" value="reggae"> Reggae</li>
        <li class="list-group-item"> <input type="checkbox" name="music" value="rock"> Rock</li>
        <li class="list-group-item"> <input type="checkbox" name="music" value="randb"> R&B</li>
        <li class="list-group-item"> <input type="checkbox" name="music" value="techno"> Techno/Dubstep/Dance</li>
      </ul>
    </div>

</form>

<button type="button" class="btn" onclick="alert('Interests now updated')">Update Interests!</button>