
   <div class="btn-group" role="group" aria-label="...">
  <button id="Swag" type="button" class="btn btn-default">Interest Search</button>

  <button id="Right" type="button" class="btn btn-default">Random Search</button>
</div>


