<h1>You have 
<%= 
    if current_user.potential_friends.length > 0
       current_user.potential_friends.length 
    else
        "no"
    end
%>
notifications.</h1>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Friend Requests</button>
  <% current_user.potential_friends.each do |user| %>
    <%= link_to "friend#{user.id}", users_accept_friendship_path(user.id), method: :patch, remote: true %>
<% end %>
  <br>
  <br>
  <br>
  <button type="button" class="btn btn-default">Messages</button>
</div>

