@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=PT+Sans|Abril+Fatface|Roboto);
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1 {
    text-align: center;
}

body {
    color:black;
    padding:5px;
background: url(https://cloud.githubusercontent.com/assets/12900938/8738215/c5d3f46a-2bf9-11e5-9027-a66aee4dc1b0.jpg);
}
.content {
    margin-left: 50px;
}

.navbar {
    background-color:black;
    border: 0px solid black;
    border-radius: 0px;
}

.navbar > li > a {
  color:red;
}

.logInForm {
    text-align: center;
}

.coolText {
    color:#B20000;
}


IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}
    
.mybutton {
    background-color:#B20000;
    color:white;
    border-radius:0px;
    display: block;
    height: 40px;
    width: 150px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    font-size: 15px;
    border: 0px solid black;
}

.btn {
    background-color:#B20000;
    color:white;
    border-radius:0px;
    display: block;
    height: 40px;
    width: 150px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    font-size: 15px;
    border: 0px solid black;
}

.btn:hover {
    background-color: black;
}

.navbar {
    background-color: #B20000;
    color: red;
}

.navbar .navbar-brand {
    color: white;
}

.navbar .li {
    color: white;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: white;
    color: #B20000;
}

.left {
    background-color: #B20000;
    position: fixed;
    margin-right: 50%;
    height: 230px;
    width: 48%;
    font-family: 'PT Sans', sans-serif;
    padding: 10px;
    font-size: 30px;
    color:white;
    text-align: center;
    line-height: 220px;
    white-space: nowrap;
    margin-top: 0%;
}

.right {
    background-color: #B20000;
    position: fixed;
    margin-left: 50%;
    height: 230px;
    width: 48%;
    padding: 10px;
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    color:white;
    text-align: center;
    line-height: 220px;
    white-space: nowrap;
    margin-top: 0%;
}


.box {
    margin-left: 150px;
    margin-right: 150px;
}

.nav-toggle {
    display: none;
}

.icon-mobile {
    height: 50px;
    width: 50px;
    background-color:white;
    border: 0px solid white;
    font-size: 30px;
}

.rightSide {
    width:115px;
    float:left;
    margin-left:25px;
    display: inline;
    position: relative;
}

.leftSide {
    width:115px;
    float: right;
    display: inline;
    position: relative;
}

@media (max-width: 767px) {
	.box{
        margin-left:40px;
        margin-right:40px;
	}
	.nav-toggle{
       display : block; // or inline-block or inline : which ever is appropriate for you.
	}
	.mybutton {
	    width: 100%;
	    padding: 5px;
	} 
#Scratch {
    position: fixed;
    margin-top: 40%;
    margin-right: 100%;
}
#White {
    position: fixed;
    margin-top: 40%;
    margin-left: 35%;
}
#Swag {
    position: fixed;
    margin-top: 40%;
    margin-left: 70%;
}
}