@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=PT+Sans|Abril+Fatface|Roboto);
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    color:black;
    padding:5px;
}

.content {
    margin-left: 50px;
}

.navbar {
    background-color:black;
    border: 0px solid black;
    border-radius: 0px;
}

.navbar > li > a {
  color:red;
}

.logInForm {
    text-align: center;
}

.coolText {
    color:#B20000;
}


IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}
    
.btn {
    background-color:#B20000;
    color:white;
    border-radius:0px;
    display: block;
    height: 40px;
    width: 150px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    font-size: 15px;
    border: 0px solid black;
}

.btn:hover {
    background-color: black;
}

.navbar {
    background-color: #B20000;
    color: red;
}

.navbar .navbar-brand {
    color: white;
}

.navbar .li {
    color: white;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: white;
    color: #B20000;
}

.left {
    background-color: #B20000;
    position: fixed;
    margin-right: 50%;
    height: 230px;
    width: 48%;
    font-family: 'PT Sans', sans-serif;
    padding: 10px;
    font-size: 30px;
    color:white;
    text-align: center;
    line-height: 220px;
    white-space: nowrap;
}

.right {
    background-color: #B20000;
    position: fixed;
    margin-left: 50%;
    height: 230px;
    width: 48%;
    padding: 10px;
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    color:white;
    text-align: center;
    line-height: 220px;
    white-space: nowrap;
}

h1 {
    text-align: center;
}